.env

# dependencies
node_modules
.yarn_install
package-lock.json

# Yarn 4
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# testing
/coverage

# build
/dist

# misc
.DS_Store
tsconfig.tsbuildinfo
.vscode/
*.log
