repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: no-commit-to-branch
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        files: '\.[jt]sx?$' # *.js, *.jsx, *.ts and *.tsx
        types: [file]
        additional_dependencies:
          - "eslint@8.56.0"
          - "@typescript-eslint/parser@5.18.0"
          - "@typescript-eslint/eslint-plugin@5.18.0"
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.37.1
    hooks:
      - id: yamllint
        files: '\.ya?ml$'
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.1.0
    hooks:
      - id: detect-secrets
        args:
          - --exclude-files
          - .*test\.json
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.272
    hooks:
      - id: ruff
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.12.0
    hooks:
      - id: gitleaks
  - repo: local
    hooks:
      - id: oxfmt
        name: ox-fmt
        entry: npx oxfmt
        language: system
        pass_filenames: false
      - id: typescript-check
        name: typescript-check
        entry: bash -c "yarn tsc --noEmit"
        language: system
        pass_filenames: false
