name: Pull Request

on:
  pull_request:

jobs:
  prchecks:
    name: prchecks # Name needs to be unchanged to avoid updating branch rules
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.login != 'dependabot[bot]'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"

      - name: Setup Python for pre-commit
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Configure pre-commit to skip irrelevant checks
        run: echo "SKIP=typescript-check" >> $GITHUB_ENV

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1

  assignAuthor:
    name: assignAuthor # Name needs to be unchanged to avoid updating branch rules
    if: github.event.pull_request.user.type != 'Bot' && github.event.action == 'opened'
    runs-on: ubuntu-latest
    steps:
      - name: Assign PR to creator
        run: gh pr edit $PR_URL --add-assignee $PR_AUTHOR
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_AUTHOR: ${{ github.event.pull_request.user.login }}
          PR_URL: ${{github.event.pull_request.html_url}}
